<center><b>DIGHUM101</b></center>
<center>2-4: Pandas</center>

---

In [16]:
import pandas as pd
import os 
from datetime import datetime
from datetime import timedelta

# Fast review

1. What is a list?
2. What is a dictionary? 
3. What is a Pytyon library? 
4. What are two conventions for importing data from files in Python?

# Learning objectives

0. Review .csv importation, the working directory, and two common errors: Name and File
1. Begin to work with data frames in Python (tabular structures, like a spreadsheet!) 
2. Basic methods: `.head()`, `.rename()`, `.describe()`, and `.value_counts()`
3. Basic attributes: `.columns` and `.shape`
4. Subsetting: `.iloc()`, `.loc()`, and conditional 
5. Adding and removing columns

# Pandas

Pandas is designed to make it easier to work with [structured data](https://learn.g2.com/structured-vs-unstructured-data). Most of the analyses you might perform will likely involve using tabular data, e.g., from .csv files or relational databases (e.g., SQL). The DataFrame object in pandas is "a two-dimensional tabular, column-oriented data structure with both row and column labels."

**i.e., a spreadsheet!**

The pandas name itself is derived from panel data, an econometrics term for multidimensional structured data sets, and Python data analysis itself. [Check out the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/) to learn more!

### Import .csv file

Import the correspondence dataset:

In [17]:
# Uh-oh! # What is a NameError? Review "1-3_errors-help.ipynb" for a hint.
letters = pd.read_csv("correspondence-data-1585.csv")

In [18]:
import pandas as pd

Alright! Now we are good to go, right?

In [19]:
# What is a FileError? Review "1-3_errors-help.ipynb" for a hint.
letters = pd.read_csv("correspondence-data-1585.csv")

# Set the working directory

Remember to....

In [20]:
# First, view the file path to your current working directory:
# %pwd
os.getcwd()

'/Users/aaronhuang/Files/DIGHUM101-2025/Data'

In [21]:
# Then change the working directory path to the Data folder
# Go "up" one level in your file structure and into the Data folder:
os.chdir("../Data/")
os.getcwd()

'/Users/aaronhuang/Files/DIGHUM101-2025/Data'

In [22]:
# List the files in the working directory
# You should see "correspondence-data-1585.csv"
%ls

2014wesp_country_classification.pdf  example.json
Geo/                                 example.xml
Obama_tweets.csv                     feminism.json
USA/                                 feminism.xml
USA_adm.zip                          frankenstein.txt
baldwin_search.csv                   gapminder-FiveYearData.csv
billnye tweets.csv                   gapminder.csv
blm reddit.csv                       gapminder_gni.csv
books_search.csv                     human-rights/
childrens_lit.csv                    human_rights.csv
chis_data/                           iris.csv
citations.csv                        music_reviews.csv
compound_figure.pdf                  puppies_search.csv
correspondence-data-1585.csv         r_conspiracy.csv
covid_search.csv                     us_racism_search.csv
dracula.txt

In [23]:
# Now we can load the file! :) 
letters = pd.read_csv("correspondence-data-1585.csv")

# `.head()`, `.describe()`, and `.value_counts()`

The `.head()` method will show the first five rows by default. Put an integer in the parentheses to specify a different number of rows. 

`.describe()` provides basic summary statistics. 

`.value_counts()` counts frequencies.

In [24]:
# View the first 3 rows
letters.head(3)

                    writer   source destination        date
0  Meulen, Andries van der  Antwerp       Delft  1585-01-03
1  Meulen, Andries van der  Antwerp     Haarlem  1585-01-09
2  Meulen, Andries van der  Antwerp     Haarlem  1585-01-11

In [25]:
type(letters)

pandas.core.frame.DataFrame

In [26]:
# Produce some quick summary statistics
letters.describe()

                         writer   source destination        date
count                       114      114         114         114
unique                       12        9           5          97
top     Meulen, Andries van der  Antwerp       Delft  1585-05-28
freq                         63       76          95           4

# `.value_counts()`

Now, we can investigate how many of each category?

In [27]:
# How many letters by each writer?
letters["writer"].value_counts()

writer
Meulen, Andries van der           63
Della Faille, Jacques             31
Della Faille, Marten               6
Staten van Brabant                 4
Wale, Jan de                       2
Noirot, Jacques                    2
Della Faille, Joris                1
Eeckeren, Robert van               1
Anraet, Thomas                     1
Burgemeesters of Antwerp           1
Calvart, Jacques                   1
Janssen van der Meulen, Peeter     1
Name: count, dtype: int64

In [28]:
# Which city was the most frequent source?
letters["source"].value_counts()

source
Antwerp      76
Haarlem      30
Venice        2
Dordrecht     1
Lisse         1
Het Vlie      1
Hamburg       1
Emden         1
Amsterdam     1
Name: count, dtype: int64

In [29]:
# Which city was the most frequent destination?
letters["destination"].value_counts()

destination
Delft         95
Haarlem        8
Bremen         6
The Hague      3
Middelburg     2
Name: count, dtype: int64

# Column names

You can call [attributes](https://medium.com/@shawnnkoski/pandas-attributes-867a169e6d9b) of a Pandas variable by using "dot notation" - but without the parentheses to unpack more information.

In [30]:
# Error! No such method exists
letters.columns()

TypeError: 'Index' object is not callable

In [32]:
# functions or methods are callable objects while data types are not
callable(letters)

False

In [33]:
# List the column names using the .columns *attribute*
letters.columns

Index(['writer', 'source', 'destination', 'date'], dtype='object')

# Select Columns

Select a single column by typing its name as a string in square brackets. View just the first five rows:

In [34]:
letters["writer"].head()

0    Meulen, Andries van der
1    Meulen, Andries van der
2    Meulen, Andries van der
3    Meulen, Andries van der
4    Meulen, Andries van der
Name: writer, dtype: object

In [35]:
letters.dtypes

writer         object
source         object
destination    object
date           object
dtype: object

# Double lists

You can also call multiple columns by passing their names in as strings to a [double list](https://stackoverflow.com/questions/33417991/pandas-why-are-double-brackets-needed-to-select-column-after-boolean-indexing)! View just the first five rows:

In [36]:
# That's a lot of square brackets!
letters[["writer", "date"]]

                      writer        date
0    Meulen, Andries van der  1585-01-03
1    Meulen, Andries van der  1585-01-09
2    Meulen, Andries van der  1585-01-11
3    Meulen, Andries van der  1585-01-12
4    Meulen, Andries van der  1585-01-12
..                       ...         ...
109    Della Faille, Jacques  1585-10-30
110    Della Faille, Jacques  1585-11-30
111          Noirot, Jacques  1585-12-16
112          Noirot, Jacques  1585-12-20
113    Della Faille, Jacques  1585-12-27

[114 rows x 2 columns]

# `.rename()`

Nice! Now that we know how to access the column names, we can edit the columns names with the .`rename()` method.

Pass in a dictionary argument to the columns parameter like this: `columns = {"old_name":"new_name"}`

In [37]:
letters.rename(columns = {"writer" : "Writer", 
                          "source" : "Origin",
                          "destination" : "Dest",
                          "date" : "Date"}, 
               inplace = True) # what does inplace = True mean? How do you find out?

# View the updated column names
print(letters.columns)

# or

letters.head()

Index(['Writer', 'Origin', 'Dest', 'Date'], dtype='object')

                    Writer   Origin     Dest        Date
0  Meulen, Andries van der  Antwerp    Delft  1585-01-03
1  Meulen, Andries van der  Antwerp  Haarlem  1585-01-09
2  Meulen, Andries van der  Antwerp  Haarlem  1585-01-11
3  Meulen, Andries van der  Antwerp    Delft  1585-01-12
4  Meulen, Andries van der  Antwerp  Haarlem  1585-01-12

### What does inplace=True mean?

In pandas, many DataFrame methods (like rename, drop, sort_values, etc.) have an inplace parameter:

    inplace=True: The method modifies the original DataFrame directly and does not return a new DataFrame.

    inplace=False (default): The method returns a new DataFrame with the changes, and leaves the original DataFrame unchanged.

In [ ]:
# You can also do this to view the help documentation for the rename method:
help(letters.rename)

# Slice Rows

You can slice rows like you would a string or a list. If we just want three rows:

In [ ]:
letters[6:9]

# `.iloc()`

... or use `.iloc()` to return non-consecutive rows. Pass in **integers** as a double list. 

For example, to get the 4th, 12th, and 29th rows:

In [ ]:
letters.iloc[[3, 11, 28]]

... and pass in a second interior list to specify columns! Select just the "Writer" (0th index) and "Date" (3rd index) columns:

In [ ]:
letters.columns

In [ ]:
letters.iloc[[3, 11, 28], [0,3]]

# `.loc()` 

While `.iloc()` requires integers, regular `.loc()` allows you to pass in column names:

In [ ]:
letters.loc[[3, 11, 28], ["Writer", "Date"]]

# Conditional Subsetting

What is we want a subset based on a condition? For example, what if we just wanted a subset for data only when Destination is equal to Haarlem? 

... _and_ Writer is equal to Meulen, Andries van der?

In [ ]:
letters["Dest"] == "Haarlem"

In [ ]:
# Data frame just of Haarlem destinations...
h = letters.loc[letters["Dest"] == "Haarlem"]
h

In [ ]:
# And now, let's do the opposite! A dataframe without Haarlem destinations
no_h = letters.loc[letters["Dest"] != "Haarlem"]
no_h

In [ ]:
# Data frame just of Andries van der Meulen
am = letters.loc[letters["Writer"] == "Meulen, Andries van der"]
am.head()

# What does the .shape attribute do?
# 63 rows and 4 columns
am.shape

In [ ]:
# Data frame that includes both Haarlem as the destination AND Andries van der Meulen 
both = letters.loc[(letters["Dest"] == "Haarlem") &
                   (letters["Writer"] == "Meulen, Andries van der")]
print(both.shape)
both

In [ ]:
# What about all the letters that have something to do with Haarlem?
haarlem = letters.loc[(letters["Dest"] == "Haarlem") |
                     (letters["Origin"] == "Haarlem")]
print(haarlem.shape)
haarlem

Using & and | effectively will help you navigate your tabular data

Learn more by [reading the documentation here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

# Sort Values
Sorting values can be valuable when we need to, well, sort the values of a (part of a) DataFrame! For instance, we can get only the letters with a destination of Delft, then sort the values in ascending order:

In [ ]:
letters[letters["Dest"] == "Delft"].sort_values("Date", ascending=True)

# `Groupby()`

The `groupby()` method allows you to split your data into separate groups to perform computations such as `min()`, `mean()`, `sum()`, and so on. For instance, we can group by destination, then get the `describe()` valuse of each column. Try to see if you understand what this does.

In [ ]:
letters.groupby("Dest").describe()

# Create a Column

You can add a new column by renaming it in place - just like with a list or dictionary:

In [ ]:
letters["Estimated_Arrival"] = "Arrival date"

# All entries for "Estimated_Arrival" say "Arrival date"
letters.head()

# Advanced: working with datetimes
We can populate this column with the results of some expression/calculation. Perhaps we estimated it would have taken 10 days for a letter to reach its destination.

In [ ]:
letters['Date']

Datetimes are a Pandas object that allow us to work with - you guessed it - dates. Let's try to convert this column to a datetime using Pandas' `to_datetime()` method.

In [ ]:
pd.to_datetime(letters['Date'])

Well, that doesn't work. Here's why:

In [ ]:
pd.Timestamp.min

Turns out the timespan that can be represented using a 64-bit integer is limited to approximately 584 years. So we have to find a workaround. We apply a `lambda` (anonymous) function to the Date column, turning it into a `Period` object (read more [here](https://pandas.pydata.org/docs/reference/api/pandas.Period.html) if you are so inclined). 

Again: don't worry about the details of the following code cells. This is just to show you that sometimes, you have to find workarounds!

In [ ]:
letters['Date'] = letters['Date'].apply(lambda x: pd.Period(x, freq='D'))

In [ ]:
letters['Date']

Note that the `dtype` for this column has changed to `Period`. This means we can now perform datetime-like operations on it. Let's write a function that takes a datetime in, adds 10 days to it using the [`timedelta`](https://pandas.pydata.org/docs/reference/api/pandas.Timedelta.html) method, and returns the datetime.

In [ ]:
def addDays(dt):
    fulldate = datetime(dt.year, dt.month, dt.day)
    fulldate = fulldate + timedelta(days=10)
    return fulldate.date()

We then again `apply` a function to this column, this time the function we just created, and throw the output into a new column called "Estimated_arrival".

In [ ]:
letters['Estimated_Arrival'] = letters['Date'].apply(addDays)

In [ ]:
letters

There we go!

# My first visualization

We'll get into this in the weeks to come, but here's a sneak peak on how to make a quick visualization using the seaborn library. We're plotting the letters' destinations on the X-axis and change hues for the letters' origin. Turns out a lof of them come from Antwerp!

In [ ]:
import seaborn as sns

sns.histplot(              
    data=letters,         
    x="Dest",
    hue="Origin", 
    multiple="fill"
)

# try changing the "multiple" parameter to any of “layer”, “dodge”, “stack”, “fill”

# Delete Column

Finally, we can use our `del` statement to delete a column just like we did with lists:

In [ ]:
# "Date" is removed!
del letters["Date"]
letters.head()

You cannot revert this change! Our dataframe no longer has a date column. This might be fine but in general it is good practice to create another version of the df, to keep the original data intact.

In [ ]:
# You can create a new DataFrame without the "Date" column using the drop method
# in this case, we will drop the "date column" because we had renamed that column to "Date" after loading the data. 
# Originally, the column was named "date" in the CSV file.

letters = pd.read_csv("correspondence-data-1585.csv")
letters_new = letters.drop(columns=["date"])

letters_new.head()